@model IEnumerable<GLMV.Domain.Models.Product>

@{
    ViewData["Title"] = "Market Place";
}

<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            @foreach (var product in Model)
            {
                <div class="col mb-5">
                    <div class="card h-100">
                        <img src="@product.ImageUrl" class="card-img-top" alt="@product.Title">
                        <div class="card-body p-4">
                            <div class="text-center">
                                <h6>@product.Category.Description</h6>
                                <h5 class="fw-bolder">@product.Title</h5>
                                @product.Price.ToString("C")
                            </div>
                        </div>
                        <!-- Product actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Vendido por @product.SalesPerson.FirstName</a></div>
                        </div>
                    </div>
                </div>
            }
</section>


<hr />
