@model IList<GLMV.Domain.Models.Product>;


<table class="table table-striped">
    <thead>
        <tr>
            <th class="text-center">Descrição</th>
            <th class="text-center">Categoria</th>
            <th class="text-center">Valor R$</th>
            <th class="text-center">Quantidade</th>
            <th class="text-center">Valor Estoque Total R$</th>
            <th class="text-center">Imagem</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            
            <tr>
                <td>@product.Title</td>
                <td class="text-center">@product.Category.Description</td>
                <td class="text-center">R$ @product.Price.ToString("N2")</td>
                <td class="text-center">@product.Quantity</td>
                <td class="text-center">R$ @((product.Quantity * product.Price).ToString("N2", new System.Globalization.CultureInfo("pt-BR"))) </td>
                <td class="text-center"><img src="../../@product.ImageUrl" width="70px"></td>
                <td>
                    <a asp-controller="products" asp-action="edit-product" asp-route-id="@product.Id"   class="btn btn-primary">Alterar</a> |
                    <a asp-controller="products" asp-action="detail-product" asp-route-id="@product.Id" class="btn btn-info">Detalhes</a> |
                    <a asp-controller="products" asp-action="delete-product" asp-route-id="@product.Id" class="btn btn-danger"> Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>